<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Market</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script defer type="module" src="/profile.js"></script>
</head>

<body>

    <main>
        <div class="person">
            <% for (let user of users) { %>
                <%if(user.user_id===userId){ %>
                    <div class="image-cropper">
                        <img id="profile-pic" src="<%=user.profile_img%>"> 
                    </div>
                   
                    <div class="name-text">
                        <p class="profile">Hi <strong>
                                <%=user.username%>
                            </strong><br>
                            <small>Hope you're having a great day</small>
                        </p>
                    </div>
                    <% } %>
                        <%}%>
        </div>
        <a  href="/editProfile" class="edit-text">edit profile</a>
        </div>
      
        <section  class="orders">
            <p class="listing">My Products</p>
            <% for(let i=0; i< posts.length; i++) {%>
             <div class="arrowFrame" data-id="<%= posts[i].post_id%>"  >
                <div id="product">
                    <div class="img-cropper-rectangle">
                        <img id="order-pic" src="<%= posts[i].post_image%>" >
                    </div>
                    <div class="order-text">
                        <%= posts[i].title%><br>
                            <small>posted on: <%=posts[i].date%></small></p>
                    </div>
                </div>
                <div class="rightArrow">
                    <img src="icons/Right_arrow.svg">
                </div>
            </div>
                <%}%>
               <% if(posts.length === 0){ %>
               <p class="nopost">you have not poste any products</p>
               <%}%>
        </section>
        
    </main>
    <nav class="nav">

        <a href="/home" class="nav_link">
            <img src="icons/Home.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/wished.svg">
        </a>
        <a href="/createListing" class="nav_link postNew">
            <img src="/icons/add.svg">
        </a>
        <a href="/chat" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="icons/me-filled.svg">
        </a>
    </nav>


    <div class="createNew displayNone">
        <div class="bar"></div>
        <p class="create_text">Create New Listing</p>
        <a href="#" class="catagories electronics"><img class="cata_icon" src="icons/electronics.svg"> Electronics</a>
        <a href="#" class="catagories clothes"> <img class="cata_icon" src="icons/clothes.svg"> Clothes</a>
        <a href="#" class="catagories furniture"> <img class="cata_icon" src="icons/furniture.svg"> Funiture</a>
        <a href="#" class="catagories other"> <img class="cata_icon" src="icons/other.svg"> Other</a>
    </div>


</body>

</html>