<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/viewListing.css">
    <script type="module" src="/frontend.js" defer></script>
    <script type="module" src="/likedItems.js" defer></script>
    <script type="module" src="/viewListing.js" defer></script>
    <title>Van Market</title>
</head>

<body>
  
    <main>
        <section class="top">
            <div class="postInfo">
                <% for(let p of post) { %>
                    <div class="wrap imgFrame">
                        <img class="postImage" src="<%=p.post_image%>">
                        <% if (post[0].user_id===userId) {%>
                        <a class="defaltImg" href="/editPost/<%=post[0].post_id%>"> change default</a>
                            <% images.forEach(image => { %>
                                <div class="deleteFrame">
                                    <a class="singleImg" data-img="<%=image.url%>" href="<%=image.url%>"><img class="postImage" src="<%=image.url%>"></a>
                                    <a><img class="deleteButt" data-img="<%=image.url%>"  src="/icons/x-butt.svg"></a> 
                                </div>
                                <%  })%>
                      
                        <form method="post" action="/viewListing/<%=p.post_id%>" id='form' data-id="<%=p.post_id%>" data-name="Yane">
                            <div class="input-group">
                                <label for='files'><img class="postImage addImgIcon" src="/icons/addImageIcon.svg"></label>
                                <input id='files' class="imageUpload" type="file" accept="image/*" hidden>
                            </div>
                            <button  class="submit-btn displayNone" type='submit'>Upload</button>
                        </form>
                        <%}%>
                    </div>
                    <% if (inWishlist) {%>
                        <a href="" class="wishLink" data-wishID="<%=inWishlist.wishlist_id%>"><img src="/icons/x-butt.svg"><p class="wishlist">remove from wishlist</p> </a>
                    
                        <%}%>
                    <div class="lineOne">
                        <p class="title">
                            <strong>
                                <%=p.title%>
                            </strong>
                        </p>
                        <p class="date">
                            Listed on <%=p.date%>
                        </p>
                    </div>

                    <div class="lineOne lineTwo">
                        <p class="price">
                            C$<%=p.price%>
                        </p>
                        <p class="location">
                            Vancouver, BC
                        </p>
                    </div>

                    <div class="lineThree">
                        <h3>Details</h3>
                        <p>
                            <%=p.description%>
                        </p>
                    </div>
                    <% } %>
                        <% if (post[0].user_id !==userId) {%>
                            <div class="name">
                                <p class="seller">Contact seller: <a href="" class="sellerName">
                                        <%=user[0].username%>
                                    </a>
                                </p>
                            </div>
                            <%}%>
            </div>

            <% if (post[0].user_id===userId) {%>
                <div class="btnFrame">
                    <a href="" class="all delete"><img class="icon" src="/icons/delete.svg">
                        <p> Delete Listing</p>
                    </a>
                    <a href="/editPost/<%=post[0].post_id%>" class="all edit"><img class="icon" src="/icons/edit.svg">
                        <p> Edit Listing</p>
                    </a>
                    <a href="" class="all sold"><img class="icon" src="/icons/sold.svg">
                        <p> Mark as sold</p>
                    </a>
                </div>
                <%}%>
            </section>
    </main>

    <nav class="nav">
        <a href="/home" class="nav_link">
            <img src="/icons/Home.svg">
        </a>
        <a href="/likedItems" class="nav_link wished">
            <img src="/icons/wished.svg">
        </a>
        <a href="" class="nav_link postNew">
            <img src="/icons/Add.svg">
        </a>
        <a href="" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="/icons/Profile.svg">
        </a>
    </nav>
    <section class="delete-sec">
        <div class="card displayNone">
            <strong>Confirm Delete?</strong>
            <p>this can not be undone</p>
            <button class="no">No</button>
            <form action="/deletePost/<%=post[0].post_id%>" method="post">
                <button class="yes" type="submit"> COMFIRM DELETE</button>
            </form>
        </div>
    </section>

    <section class="delete-sec deleteOne-sec">
        <div class="card2 displayNone">
            <strong>Note</strong>
            <p>Delete this photo?</p>
            <div class="choice">
            <button class="cancel">Cancel</button>
            <form action="/viewListing/<%=post[0].post_id%>" method="post">
                <button class="ok" type="submit"> OK</button>
            </form>
        </div>
        </div>
    </section>

    <div class="createNew displayNone">
        <div class="bar"></div>
        <p class="create_text">Create New Listing</p>
        <a href="/createListing" class="catagories electronics"><img class="cata_icon"
                src="/icons/electronics.svg">Electronics</a>
        <a href="/createListing" class="catagories clothes"> <img class="cata_icon" src="/icons/clothes.svg">
            Clothes</a>
        <a href="/createListing" class="catagories furniture"> <img class="cata_icon"
                src="/icons/furniture.svg">Funiture</a>
        <a href="/createListing" class="catagories other"> <img class="cata_icon" src="/icons/other.svg"> Other</a>
    </div>

</body>

</html>